<html>
<head>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>

<div class="container-fluid">

    <div id="login" class="form window invisible">
        <form id="login_form">
            <h3 class="heading">Please enter login information</h3>
            <input class="form-control" id="login_username" required autofocus type="text" placeholder="Username">
            <input class="form-control" id="login_password" required type="password" placeholder="Password">
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="login_button">Login</button>
        </form>
        <a href="" class="register_link">Or signup</a>
    </div>

    <div id="signup" class="form invisible window">
        <form id="signup_form">
        <h3 class="heading">Please enter registration information</h3>
            <input class="form-control" id="reg_username" type="text" placeholder="Your username">
            <input class="form-control" id="reg_password1" type="password" placeholder="Password">
            <input class="form-control" id="reg_password2" type="password" placeholder="Password again">
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="signup_button">Signup</button>
        </form>
        <a href="" class="login_link">Or login</a>
    </div>

    <div id="chat" class="invisible window">
        <div class="row">
            <div class="left_panel">
                <input class="form-control" type="text" id="find_room_name" maxlength="30">
                <div class="rooms_list">
                    <h5>Joined rooms</h5>
                    <ul class="joined_rooms nav nav-pills nav-stacked"></ul>
                    <h5>Rooms, ready to join</h5>
                    <ul class="unjoined_rooms nav nav-pills nav-stacked"></ul>
                </div>

                <ul class="manage_buttons nav nav-stacked">
                    <li><a id="join_room" href>Join</a></li>
                    <li><a id="leave_room" href>Leave</a></li>
                    <li><div class="btn-group dropup">
                        <a class="dropdown-toggle" href data-toggle="dropdown">Add room</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form class="create_room">
                                    <label for="room_name">Enter room name:</label>
                                    <input class="form-control" type="text" id="room_name" maxlength="30">
                                    <button type="submit"></button>
                                </form>
                            </li>
                        </ul>
                    </div></li>
                    <li><a id="signout" href>Sign out</a></li>

                </ul>
            </div>

            <div class="messages_container">
                <div class="messages_wrapper">

                </div>

                <form class="send_message form-inline">
                    <input class="form-control" type="text" id="newmessage">
                    <button class="btn btn-default" type="submit" id="send">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div id="status_line"></div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/js/scripts.js"></script>
</body>
</html>